[Unit]
Description=Calico per-node agent
Documentation=https://github.com/projectcalico/calico-docker
Requires=docker.service
After=docker.service

[Service]
User=root
EnvironmentFile=/etc/network-environment
PermissionsStartOnly=true
ExecStart=/usr/bin/calicoctl node run --ip=%%IP%% --init-system
ExecStop=/usr/bin/docker stop calico-node
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
